{% extends 'user/index.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
    {% for products in list_product_category %}
    <div class="col-lg-2">
            <div class="card mb-2">
                <div class="card-body">
                <h6 class="card-title">{{ products.name }}</h6>
                <h6 class="card-subtitle text-muted">{{ products.brand }}</h6>
                </div>
                {% if products.imageone %}
                <img class="imge-card" src="{% static products.imageone.url %}" alt="{{ products.name }}">
                {% else %}
                <img class="imge-card" src="static/img/placeholder.png" alt="{{ products.name }}">
                {% endif %}
                <div class="card-body">
                <p class="card-text">{{ products.price }} تومان</p>
                </div>
                <ul class="list-group list-group-flush">
                </ul>
                <div class="card-body">
                    <a href="{% url 'product-details-store' products.pk products.store_id products.slug %}" class="stretched-link" style="text-decoration: none;">
                        <div class="review-feedback">
                            <i class="fa fa-star {% if products.rating > 1 %} checked {% endif %}" aria-hidden="true"></i>
                            <span class="fa fa-star {% if products.rating > 20 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if products.rating > 30 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if products.rating > 40 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if products.rating > 50 %} checked {% endif %}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}