{% extends 'user/index.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<a href="{% url 'dashboard_user' %}">
     برگشت
</a>
        <div class="row justify-content-md-center">
                <div class="col-lg-8">
                        <fieldset>
                                <legend><h2 class="title-page">جزئیات سفارش شما</h2></legend>
                                      <div id="myTabContent" class="tab-content">
                                        <div>
                                          <br>
                                          <h5>حمل و نقل</h5>
                                          <label>آدرس</label>
                                          <p>
                                          {% if fill_order.selectaddress %}
                                            {{ select_address_get.address }}
                                          {% else %}
                                            {{ fill_order.city }},{{ fill_order.address }},{{ fill_order.postalCode }}
                                          {% endif %}
                                          </p>
                                          <div class="dropdown-divider"></div>
                                          <br>
                                          <h5>روش پرداخت</h5>
                                          <p>در محل دریافت شود</p>
                                          <div class="dropdown-divider"></div>
                                          <br>
                                          <h5>سفارش اقلام</h5>
                                            <table class="table table-striped">
                                              <tr>
                                                      <th>ردیف</th>
                                                      <th>تصویر</th>
                                                      <th>نام پست</th>
                                                      <th>تعداد</th>
                                                      <th>قیمت</th>
                                                      <th>جمع قیمت</th>
                                              </tr>
                                              {% for orders in orders %}
                                              <tr>
                                                      <td>{{ forloop.counter }}</td>
                                                      <td><img class="image-list" src="{% static orders.product.imageone.url %}" ></td>
                                                      <td>{{ orders.product.name }}</td>
                                                      <td>{{ orders.countInOrder }}</td>
                                                      <td>{{ orders.price }}</td>
                                                      <td>{{ orders.total }}</td>
                                              {% empty %}
                                              {% endfor %}
                                              </tr>
                                            </table>
                                          <div class="dropdown-divider"></div>
                                        </div>
                                      </div>
                        </fieldset>
                </div>
                <div class="col-lg-4">
                  <div class="card bg-secondary mb-4" style="max-width: 20rem;">
                  <div class="card-header text-center"><h5>خلاصه سفارش</h5></div>
                          <div class="card-body">
                            <table>
                              <tr>
                                <td>
                                  <h5>مبلغ</h5>
                                </td>
                                <td>
                                  <h5>:</h5>
                                </td>
                                <td>
                                  <h5>{{ order_sum_count.total_amount }}</h5>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <h5>هزینه ارسال</h5>
                                </td>
                                <td>
                                  <h5>:</h5>
                                </td>
                                <td>
                                  <h5>{{ fill_order.order.shippingPrice }}</h5>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <h5>جمع</h5>
                                </td>
                                <td>
                                  <h5>:</h5>
                                </td>
                                <td>
                                  <h5>{{ order_sum_count.total_amount }}</h5>
                                </td>
                              </tr>
                            </tr>
                          </table>
                          </div>
                  </div>
                </div>
        </div>
{% endblock %}