{% extends 'user/index.html' %}
{% load static %}
{% block content %}
<section class="register section-padding">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-5 col-md-12 col-xs-12">
<div class="register-form login-area">
<h3>
    <strong style="color: darkgray;font-size: 15px;">ثبت نام در وبلاگ </strong><strong style="font-size: 16px;">{{ store_name.name }}</strong>
</h3>
<form class="login-form" method="POST">
    {% csrf_token %}
<input type="hidden" value="{{ pk }}" name="store_id" id="id_store_id">   
<div class="form-group {% if form.username.errors %}has_error{% elif form.is_bound %}has_success{% endif %}">
    <label class="col-form-label mt-1" for="name"></label>
    {% if form.username.errors %}
    {% for error in form.username.errors %}
 <div  style="text-align: right;color:#dc3545;">
            <b>{{ error|escape }}</b>    
            </div>
    {% endfor %}
    {% endif %}
<div class="input-icon">
<i class="lni-user"></i>
<input type="text" id="Name" class="form-control" value="{{ form.username.value|default_if_none:"" }}" name="username" placeholder="نام کاربری">
</div>
</div>
<div class="form-group {% if form.email.errors %}has_error{% elif form.is_bound %}has_success{% endif %}">
    <label class="col-form-label mt-1" for="name"></label>
    {% if form.email.errors %}
    {% for error in form.email.errors %}
 <div  style="text-align: right;color:#dc3545;">
            <b>{{ error|escape }}</b>    
            </div>
    {% endfor %}
    {% endif %}
<div class="input-icon">
<i class="lni-envelope"></i>
<input type="text" id="sender-email" class="form-control" value="{{ form.email.value|default_if_none:"" }}" name="email" placeholder="آدرس ایمیل">
</div>
</div>
<div class="form-group {% if form.password1.errors %}has_error{% elif form.is_bound %}has_success{% endif %}">
    <label class="col-form-label mt-1" for="name"></label>
    {% if form.password1.errors %}
    {% for error in form.password1.errors %}
 <div  style="text-align: right;color:#dc3545;">
            <b>{{ error|escape }}</b>    
            </div>
    {% endfor %}
    {% endif %}
<div class="input-icon">
<i class="lni-lock"></i>
<input type="password" value="{{ form.password1.value|default_if_none:"" }}" name="password1" class="form-control" placeholder="رمز">
</div>
</div>
<div class="form-group {% if form.password2.errors %}has_error{% elif form.is_bound %}has_success{% endif %}">
    <label class="col-form-label mt-1" for="name"></label>
    {% if form.password2.errors %}
    {% for error in form.password2.errors %}
 <div  style="text-align: right;color:#dc3545;">
            <b>{{ error|escape }}</b>    
            </div>
    {% endfor %}
    {% endif %}
<div class="input-icon">
<i class="lni-lock"></i>
<input type="password" class="form-control" name="password2" value="{{ form.password2.value|default_if_none:"" }}" placeholder="تکرار رمز">
</div>
</div>
<div class="form-group mb-3">
    <label class="col-form-label mt-1" for="name"></label>
    <div class="custom-control custom-checkbox">
    <input type="checkbox" class="form-check-input" name="agree" id="id_agree">
    <label class="custom-control-label" for="id_agree">با ثبت نام، <a target="_blank" href="{% url 'agree_admin' %}">شرایط و ضوابط ما</a> را قبول می کنید.</label>
    {% if form.agree.errors %}
    {% for error in form.agree.errors %}
    <div  style="text-align: right;color:#dc3545;">
            <b>{{ error|escape }}</b>    
            </div>
    {% endfor %}
    {% endif %}
    </div>
</div>
<div class="text-center">
<button type="submit" class="btn btn-primary">ثبت</button>
<a href="{% url 'login-user-store' pk %}" class="btn btn-link">من قبلا ثبت نام کرده ام</a>
</div>
</form>
</div>
</div>
</div>
</div>
</section>
{% endblock %}