{% extends 'admin/index.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<a href="{% url 'admin_dashboard' %}">
     برگشت
</a>
        <div class="row justify-content-md-center">
                <div class="col-lg-8">
                                <fieldset>
                                        <legend><h1 class="title-page">لیست وبلاگ ها</h1></legend>
                                        <table class="table table-hover">
                                                <thead class="table-lite">
                                                        <tr>
                                                                <th>ردیف</th>
                                                                <th>نام</th>
                                                                <th>نام کاربر</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                {% for store_list in store_list %}
                                                <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ store_list.name }}</td>
                                                        <td>{{ store_list.user.username }}</td>
                                                        <td>   
                                                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">عملیات</a>
                                                                <div class="dropdown-menu">
                                                                        <a class="dropdown-item" href="{% url 'confirmed_store_edit' store_list.pk %}">اصلاح</a>
                                                                </div>
                                                        </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                        </table>
                                </fieldset>
                </div>
        </div>
</div>
{% endblock %}