{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<a href="{% url 'confirmed_store_list' %}">
     برگشت
</a>
        <div class="row justify-content-md-center">
                <div class="col-lg-4">
                        <div class="card mb-4">
                                <div class="card-body">
                                <h5 class="card-title">{{ store.name }}</h5>
                                <h6 class="card-subtitle text-muted">{{ store.create_date|naturaltime }}</h6>
                                </div>
                                {% if store.image %}
                                <img class="imge-card" src="{% static store.image.url %}" alt="{{ store.name }}">
                                {% else %}
                                <img class="imge-card" src="static/img/placeholder.png" alt="{{ store.name }}">
                                {% endif %}
                                <div class="card-body">
                                <p class="card-text">{{ store.descreption|slice:20 }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                </ul>
                                <div class="card-body">
                                <a target="_blank" href="{% url 'product-list-store' store.pk %}" class="stretched-link"></a>
                                <p>تاریخ ایجاد: {{ store.datecreate }}</p>
                                {% if store.confirmed == 0 %}
                                <span class="badge bg-warning">منتظر تایید</span>
                                {% else %}
                                <span class="badge bg-success">تایید شده</span>
                                {% endif %}
                                </div>
                        </div>
                        <form class="d-flex" method="POST">
                          {% csrf_token %}
                          <div class="form-check">
                            <input type="hidden" value="1" name="checkt"> 
                            <button class="btn btn-primary" type="submit">تایید</button>
                          </div>
                        </form>
                </div>
        </div>
</div>
{% endblock %}