{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<a href="{% url 'store-list' %}">
     برگشت
</a>
        <div class="row justify-content-md-center">
                <div class="col-lg-4">
                        <form method="POST" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <fieldset>
                                        <legend><h1 class="title-page">اصلاح وبلاگ</h1></legend>
                                        <div class="form-group">
                                                <label for="formFile" class="form-label mt-4">عکس در حال حاضر</label>
                                                <img class="imge-card-edit" src="{% static store.image.url %}">
                                                <br>
                                                <label for="formFile" class="form-label mt-4">تغییر عکس</label>
                                                <input class="form-control" type="file" name="image" id="id_image">
                                        </div>
                                        <div class="form-group">
                                        <label for="descreption" class="form-label mt-4">توضیحات</label>
                                        {% if form.descreption.errors %}
                                        {% render_field form.descreption class="form-control is-invalid" %}
                                        {% for error in form.descreption.errors %}
                                        <div  style="text-align: right;color:#dc3545;">
                                                        <b>{{ error|escape }}</b>    
                                        </div>
                                        {% endfor %}
                                        {% elif form.descreption.value %}
                                        {% render_field form.descreption class="form-control is-valid" %}
                                        {% else %} 
                                        {% render_field form.descreption class="form-control" %}
                                        {% endif %}         
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-primary">ثبت</button>
                                </fieldset>
                        </form>
                </div>
        </div>
</div>
{% endblock %}