{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<a href="{% url 'dashboard' %}">
     برگشت
</a>
        <div class="row justify-content-md-center">
                <div class="col-lg-8">
                                <fieldset>
                                        <legend><h1 class="title-page">وبلاگ</h1></legend>
                                        <table class="table table-hover">
                                                <tr>
                                                        <th>تاریخ ایجاد</th>
                                                        <th>نام</th>
                                                        <th>توضیحات</th>
                                                        <th></th>
                                                        <th></th>
                                                </tr>
                                                <tr>
                                                        <td>{{ store.datecreate }}</td>
                                                        <td>{{ store.name }}</td>
                                                        <td>{{ store.descreption|slice:10 }}...</td>
                                                        <td>
                                                        {% if store.confirmed == 0 %}
                                                        <span class="badge bg-warning">منتظر تایید</span>
                                                        {% elif store.confirmed == 3 %}
                                                        <span class="badge bg-danger">تایید نشده</span>
                                                        {% else %}
                                                        <span class="badge bg-success">تایید شده</span>
                                                        {% endif %}
                                                        </td>
                                                        <td>   
                                                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">عملیات</a>
                                                                <div class="dropdown-menu" style="">
                                                                        <a class="dropdown-item" href="{% url 'store-details' %}">مشاهده</a>
                                                                        <a class="dropdown-item" href="{% url 'store-edit' store.pk %}">اصلاح</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="{% url 'category-create' store.pk %}">ایجاد دسته اصلی</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item" href="{% url 'product-create' store.pk %}">ایجاد پست</a>
                                                                </div>
                                                        </td>
                                                </tr>
                                        </table>
                                </fieldset>
                </div>
        </div>
</div>
{% endblock %}