{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<a href="{% url 'subcategory-list' %}">
     برگشت
</a>
        <div class="row justify-content-md-center">
                <div class="col-lg-4">
                        <form method="POST" novalidate>
                                {% csrf_token %}
                                <div hidden>
                                        <input class="normal-example form-control" name="datecreate" id="id_datecreate"/>
                                        <input class="normal-example form-control" name="datecreatealt" id="id_datecreatealt"/>
                                        <input type="text" value="{{ request.user.id }}" name="user" required="" id="id_user">
                                        <input type="text" value="0" name="slug" required="" id="id_slug">
                                        <input type="text" value="{{ pk }}" name="subcategory" required="" id="id_subcategory">
                                        <input type="text" value="{{ store_id }}" name="store" required="" id="id_store">
                                </div>
                                <fieldset>
                                        <legend><h1 class="title-page">ایجاد زیر زیر دسته</h1></legend>
                                        <div class="form-group">
                                                <label class="col-form-label mt-4" for="name">نام دسته</label>
                                                {% if form.name.errors %}
                                                {% render_field form.name class="form-control is-invalid" %}
                                                {% for error in form.name.errors %}
                                                <div  style="text-align: right;color:#dc3545;">
                                                                <b>{{ error|escape }}</b>    
                                                </div>
                                                {% endfor %}
                                                {% elif form.name.value %}
                                                {% render_field form.name class="form-control is-valid" %}
                                                {% else %} 
                                                {% render_field form.name class="form-control" %}
                                                {% endif %}                                                
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-primary" name="Save_list">ثبت</button>
                                        <button type="submit" class="btn btn-primary" name="Save_and_add">ثبت و ایجاد یکی دیگر</button>
                                </fieldset>
                        </form>
                </div>
        </div>
</div>
{% endblock %}