{% extends 'base.html' %}
{% load widget_tweaks %}
{% load tz %}
{% block content %}
<div class="row">
  <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">تغییر گذرواژه</h3>
              <h6>برای امنیت بیشتر٬ لطفا گذرواژه قدیمی خود را وارد کنید٬ سپس گذرواژه جدیدتان را دوبار وارد کنید تا ما بتوانیم چک کنیم که به درستی تایپ کرده‌اید. </h6>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" novalidate>
              <div class="box-body">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                  <button type="submit" class="btn btn-primary">ثبت</button>
              </div>
            </form>
          </div>
       </div>
</div>
          <!-- /.box -->
          </div>
{% endblock %}