{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    {% if request.resolver_match.view_name == 'index' %}

    {% else %}
    {% if store.pk %}
    <a class="navbar-brand" href="{% url 'product-list-store' store.pk %}">وبلاگ {{ store.name }}</a>
    {% else %} 
    <a class="navbar-brand" href="/">Msn80</a>
    {% endif %}
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if not request.user.id %}
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {% if store.pk and sum_orders != 0 %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'product-list-orders' store.pk %}">سبد<span class="badge bg-primary rounded-pill">{% if sum_orders == 0 %}خالی {% endif %}{{ sum_orders }}</span>
            <span class="visually-hidden"><i class='fas fa-shopping-cart'></i></span>
          </a>
        </li>
        {% endif %}
        {% if store.pk %}
        <a class="navbar-brand" href="{% url 'contactus' store.pk %}">تماس با ما</a>
    
        <form class="d-flex" method="POST">
          {% csrf_token %}
          <input class="form-control me-sm-2" type="text" name="search" placeholder="جستجو">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">جستجو</button>
        </form>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'login-user-store' store.pk %}">ورود</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'signup_store' store.pk %}">ثبت نام</a>
        </li>
        {% endif %}
        {% if request.resolver_match.view_name == 'index' %}

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'index' %}">همه وبلاگ ها</a>
        </li>
        {% endif %}
        {% if request.resolver_match.view_name == 'index' %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'login-admin-store' %}">ورود مدیران وبلاگ ها</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'signup' %}">ثبت نام مدیران وبلاگ ها</a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% else %} 
    {% if request.user.is_user_store == 1 and request.user.store_id == store.pk %}
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          {% if store.pk and sum_orders != 0 %}
          <a class="nav-link active" href="{% url 'product-list-orders' request.user.store_id %}">سبد<span class="badge bg-primary rounded-pill">{% if sum_orders == 0 %}خالی {% endif %}{{ sum_orders }}</span>
          <i class='fas fa-shopping-cart'></i>
          </a>
          {% endif %}
        </li>
        {% if request.resolver_match.view_name == 'index' %}

        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'dashboard_user' %}">داشبورد</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'profile_user' request.user.id %}">اطلاعات شخصی من</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'loginout-user-store' request.user.store_id %}">خروج</a>
          </div>
        </li>
        {% endif %}
        {% if request.resolver_match.view_name == 'product-list-store' %}
      <form class="d-flex" method="POST">
          {% csrf_token %}
        <input class="form-control me-sm-2" type="text" name="search" placeholder="جستجو">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">جستجو</button>
      </form>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'index' %}">همه وبلاگ ها</a>
      </li>
    </ul>
    </div>
    {% else %}
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        {% if store.pk %}
        <a class="navbar-brand" href="{% url 'contactus' store.pk %}">تماس با ما</a>
        
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'login-user-store' store.pk %}">ورود</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'signup_store' store.pk %}">ثبت نام</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'index' %}">همه وبلاگ ها</a>
        </li>
      </ul>
    </div>
    {% endif %}
    {% endif %}
  </div>
</nav>
