{% load static %}
{% load i18n%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="fa-IR">
  <head>
    <meta charset="utf-8">
    <meta property="og:locale" content="fa_IR" />
    <title>
    {% block title %}
    {% if products.name %}
    {{ products.name }} | ام اس ان هشتاد
    {% else %}
    ام اس ان هشتاد | انواع وبلاگهای معتبر | msn80 | www.msn80m
    {% endif %}
    {% endblock %}
    </title>
    {% if products.name %}
    <link rel="icon" type="image/x-icon" href="{% static products.imageone.url %}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/' %}{% if store.templates.code %}{{store.templates.code}}{% else %}bootstrapLux.min.css{% endif %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/persian-datepicker.min.css' %}">   
  </head>
    <body>
    <div class="container">
      {% include 'user/header.html' %}
      {% block content %}
      {% include 'user/mega-menu.html' %}  
      {% include 'user/screen/carousel.html' %}  
      {% include 'user/card.html' %}
      {% endblock %}
    </div>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/persian-date.min.js' %}"></script>
    <script src="{% static 'js/persian-datepicker.min.js' %}"></script>
    <script src="{% static 'js/num2persian.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>